header {
  padding: 0.5rem 1rem;
  background-color: var(--background-color);
}

.logo__image {
  width: 2rem;
  height: auto;
  display: inline-block;
  margin-left: 0.5rem;
}

.logo__heading {
  font-size: var(--font-size-h4);
  color: var(--primary-color);
  display: block;
}
