<header>
  <h1 class="logo">
    <a href="#" class="logo__heading">
      <img src="../assets/logo.svg" alt="View house logo" class="logo__image" />
      View House</a>
  </h1>
</header>
<main>
  <section>
    <app-housing-list [locationList]="housingLocationList" (selectedLocationEvent)="updateSelection($event)">
    </app-housing-list>
  </section>

  <article>
    <ng-container *ngIf="selectedLocation">

      <section class="container">
        <article class="card">
          <img [src]="selectedLocation.photo" class="image" />
          <article class="card__body">
            <p class="name">Name : {{ selectedLocation.name }}</p>
            <p class="units">units : {{ selectedLocation.availableUnits }}</p>
            <p class="city">City : {{ selectedLocation.city }}, {{ selectedLocation.state }}</p>
            <p class="laundry"> Laundry :
              {{
              selectedLocation.laundry ? 'Has laundry' : 'Does Not have laundry'
              }}
            </p>
            <p class="wifi"> WiFi : {{ selectedLocation.wifi ? 'Has wifi' : 'Does Not have wifi' }}</p>
          </article>
        </article>









      </section>


    </ng-container>
  </article>
</main>